body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Accordion.Header {
  background: #c9d5ff !important;
  color: #000;
  font-weight: bold;
}
